@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notifications" />


<div class="container p-3">
    <div class="row pt-4">       
        <div class="col-6">
            <a asp-controller="User" asp-action="Create" class="btn btn-outline-dark">
                اضافه کردن کاربر جدید
            </a>
        </div>
        <div class="col-6  text-end">
            <h2 class="text-primary">
                لیست کاربران
            </h2>
        </div>
    </div>
    @using (Html.BeginForm("Filter", "User"))
    {
        <form class="d-flex">
            <input class="form-control col-4 text-center my-4" type="text" placeholder="جستجو" id="txt" name="txt">
            <button class="btn btn-warning col-4 text-center" type="submit" asp-action="Filter" asp-controller="User">جستجو</button>
        </form>
        //my-4 my-sm-0
        // my-4 mt-4 me-sm-0
    }
    <br />
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr class="table-primary">
                <th>
                    نام
                </th>
                <th>
                    نام خانوادگی
                </th>
                <th>
                    کد ملی
                </th>
                <th>
                    کد یکتا
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="20%">
                        @obj.FirstName
                    </td>
                    <td width="20%">
                        @obj.LastName
                    </td>
                    <td width="30%">
                        @obj.National_Code
                    </td>
                    <td width="30%">
                        @obj.Id
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="User" asp-action="EditUser" asp-route-id="@obj.Id">
                                ویرایش
                            </a>
                            <a asp-controller="User" asp-action="DeleteUser" asp-route-id="@obj.Id">
                                حذف
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

