@model WebApp_Traffic.Models.Traffic

@{
    ViewData["Title"] = "Entry";
}


@{
    var data_2 = ViewData["Message_2"];
}



@if(Model.Type_Traffic == 0 && Model!=null)
{
    <h3>ورورد</h3>
    <p>
        FirstName : @Model.user.FirstName
        LastName : @Model.user.LastName
        DateTime : @Model.EntryOrOut_Time
        Type : @Model.Type_Traffic
    </p>

}
else if (Model.Type_Traffic == 1 && Model != null)
{
<h3>خروج</h3>
<p>
    FirstName : @Model.user.FirstName
    LastName : @Model.user.LastName
    DateTime : @Model.EntryOrOut_Time
    Type : @Model.Type_Traffic
    </p>
}
else
{
    <h3>@data_2</h3>
}






