@model Traffic
@{
    ViewData["Title"] = "Filter";
}
<br />
<table class="table table-striped table-bordered" style="width:100%">
    <input asp-for="Id_Traffic" type="hidden" />
    <thead>
        <tr class="table-primary">
            <th>
                کد یکتا
            </th>
            <th>
                تاریخ 
            </th>
            <th>
                نوع تردد
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td width="20%">
                    @Model.userid
                </td>
                <td width="30%">
                    @Model.EntryOrOut_Time
                </td>
                <td width="30%">
                    @Model.Type_Traffic
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Traffic" asp-action="Edit" asp-route-id="@Model.Id_Traffic">
                            ویرایش
                        </a>
                        <a asp-controller="Traffic" asp-action="DeleteUser" asp-route-id="@Model.Id_Traffic">
                            حذف
                        </a>
                    </div>
                </td>
            </tr>
    </tbody>

</table>

