@model IEnumerable<Traffic>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notifications" />


<h1>لیست ترددها</h1>

@using (Html.BeginForm("Filter", "Traffic"))
    {
    <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="جستجو" id="txt" name="txt">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" asp-action="Filter" asp-controller="Traffic">جستجو</button>
    </form>
    }

<hr />
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr class="table-primary">
            <th>
                کد یکتا
            </th>
            <th>
                تایم ورود
            </th>
            <th>
                نوع تردد
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
           
            <tr>
                <td width="20%">
                    @obj.userid
                </td>
                <td width="30%">
                    @obj.EntryOrOut_Time
                </td>
                <td width="30%">
                    @obj.Type_Traffic
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Traffic" asp-action="Edit" asp-route-id="@obj.Id_Traffic">
                            ویرایش
                        </a>
                        <a asp-controller="Traffic" asp-action="Delete" asp-route-id="@obj.Id_Traffic">
                            حذف
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

